.wrapper { 
	width: 1000px; 
	height: 1200px;
	margin: 0 auto; 
	padding: 15px;
	position: relative;

}

.header {
	width: 1000px;
	height: 70px;
	background-color: #0062f1;
	border-width: 2px;
    border-bottom: 3px solid #257eff;

}

.subheader {
	width: 1000px;
	height: 70px;
	background-color: #dae0e6;
	border-bottom: 1px solid black;
}

.footer {

	width: 1000px;
	height: 140px;
	background-color: #0062f1;
	border-width: 2px;
    border-top: 8px solid #257eff;
    position: absolute;
    bottom: 0;
 
 }

.columnleft {
	width: 300px;
	height: 750px;
	float: left;
	background-color: #A3DAE1;
	margin-top: 15px;
	margin-bottom: 30px;
	border-radius: 40px;
	padding: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;

}

.columnright {
	width: 640px;
	height: 900px;
	float: right;
	background-color: #c6e2ff;
	margin-top: 15px;
	margin-bottom: 30px;
	border-radius: 25px;
	padding: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	position: top;

}

.surfbanner {
	margin-bottom: 200px;
    margin-left: 10px;
    margin-right: auto;
    top: -800px;
		
}

.navigationbar


nav {
	width: 100%;
	background-color: none;
}

ul {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 800px;
	text-align: center;
	height: 20px;
	padding: 10px 20px;
	list-style-type: none;
	text-decoration: none;
}

ul li {
	display: inline-block;
	padding: 15px;
	padding-left: 80px;
	text-align: left;
	text-decoration: none;
}

li a {
	text-decoration: none;
	color: inherit;
	color: #1f477e;
}

.nav_hover li a:hover {
	color: #A3DAE1;
}



.headline { 
	color: #1f477e;
	text-align: left;
	text-decoration: none;
	margin-top: 60px;
}

.headline2 { 
	color: #1f477e;
	text-align: left;
	text-decoration: none;
	margin-top: 40px;
}

.headline3 {

	color: #1f477e;
	text-align: center;
	text-decoration: none;
	margin-top: 40px;

}

.photoright {
	max-width: 600px;
	height: 350px;
	float: right;
    border: 3px solid #257eff;
    margin:10px;
}

.signature {
	color: #1f477e;
	text-align: right;
	text-decoration: none;
	margin-bottom: 60px;
}


.columngen {
	width: 1000px;
	height: 900px;
	float: right;
	background-color: #c6e2ff;
	margin-top: 15px;
	margin-bottom: 30px;
	border-radius: 25px;
	padding: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	position: top;

}

.bestspots {
	width: 600px;
	height: 200px;
	margin-left: 40px;	
	background-color: #9ffff7;
	border-radius: 40px;

}

.bestspotstext {
	margin-left: 1px
}

.link a{
	text-decoration: none;
}



